.title  {padding: 5px 0;}
.title a{color:#fff;text-decoration:none;}
#slide-container{
    width: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
	outline: none;
}

.history-icon{
	color: #fff;
    font-size: 24px;
    margin-top: 5px;
    display: inherit;
    cursor: pointer;
}
.history-icon:hover{
	color:#db3236;
}
.video-item{
    display: inline-block;
	padding:5px;
	position:relative;
	cursor:pointer
}
.video-item h2{
    margin-bottom: 0;
    font-size: 1em;
    padding: 1.5em 0.5em 1.5em 0.5em;
    position: absolute;
    right: 5px;
    bottom: 5px;
    left: 5px;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.75);
    text-transform: uppercase;
}
.video-item:hover{
	background:#db3236;
}
.video-item:first-of-type{
	padding-left:0px;
}
.video-item:first-of-type h2{
	left: 0px;
}
.video-item:first-of-type h2, .video-item:first-of-type img {
	margin-left: 6px;
}
.video-item:last-of-type{
	padding-right:0px;
}

.video-item:last-of-type{
	padding-right:0px;
}

.video-item:last-of-type h2{
	right: 0px;
}
.video-item:last-of-type h2, .video-item:first-of-type img {

}
 a.play {
  display: block;
  position: absolute;
  left: 100px;
  top: 120px;
  width: 20px;
  height: 20px;
  font-size:52px;
  color:#db3236;
}




.video-selected{
background:#db3236;	  
}


footer p{margin:0px;}


.arrow{
    margin-top: 14px;
}

.slide-nav{
	position: absolute;
    width: 35px;
    height: 80px;
    display: block;
    z-index: 1;
    cursor: pointer;
    opacity: 0.8;
    top: 200px;
    background: #000;
    color: #ff0000;
    font-size: 20px;
    font-weight: bolder;
}

.left{
    left: 1px;
}

.right{
    right: 1px;
} 


.thumb-container{
	display:block;
	float:left;
	width: 100px;
}
.log-desc{
	float:left;
	padding:0 10px;
    width: calc(100% - 100px);
}
.small-thumbnail {
    width: 100px;
}

.header, .footer {
    background-color: #000;
    color: white;
    padding: 4px;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}


.full-screen{        
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width:100%;        
    height:100%;   
    margin:0px;     
} 

.modal-video{
    width:75%;
    height:90%
}
.modal-content{border:none;}
.modal-header .close{
	opacity: 1;
    color: #fff;
    width: 24px;
    border-radius: 50%;
    background: red;
	outline:none;
}

}

@media screen and (max-width: 800px) and (min-width: 0px) {
   .modal-video{
         height:70%         
    }
}
.back-button{
	background-color: #db3236;
	border-radius: 4px;
	color:#fff;
	border-color: #db3236;
}
.back-button:hover{
	background-color: #db3236;
	color:#fff;
	border-color: #db3236;
}
/*
 * Component: Timeline
 * -------------------
 */
#views {padding:10px 0px;}
.timeline {
  position: relative;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 4px;
  background: #ddd;
  left: 31px;
  margin: 0;
  border-radius: 2px;
}
.timeline > li {
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-item {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 0px;
  background: #fff;
  color: #444;
  margin-left: 60px;
  margin-right: 15px;
  padding: 0;
  position: relative;
}
.timeline > li > .timeline-item > .time {
  color: #999;
  float: right;
  padding: 10px;
  font-size: 12px;
}
.timeline > li > .timeline-item > .timeline-header {
  margin: 0;
  /*color: #555;*/
  color: #db3236;  
  border-bottom: 1px solid #f4f4f4;
  padding: 10px;
  font-size: 16px;
  line-height: 1.1;
}
.timeline > li > .timeline-item > .timeline-header > a {
  font-weight: 600;
}
.timeline > li > .timeline-item > .timeline-body,
.timeline > li > .timeline-item > .timeline-footer {
  padding: 10px;
}
.timeline > li.time-label > span {
  font-weight: 600;
  padding: 5px;
  display: inline-block;
  background-color: #db3236;
  border-radius: 4px;
  color:#fff;
}
.timeline > li > .fa,
.timeline > li > .glyphicon,
.timeline > li > .ion {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  color: #fff;
  background: #db3236;
  border-radius: 50%;
  text-align: center;
  left: 18px;
  top: 0;
}